.DS_Store
*.pro.user
src/.DS_Store
src/forms/.DS_Store
src/locale/*.qm
Release*
.qmake.stash
.vs/
build/
chain33-qt-Debug_resource.rc
chain33-qt.vcxproj.filters
chain33-qt.vcxproj.user
debug/
chain33-qt.pro.user*
